body{
    background:#0f172a;
    color:white;
    font-family:Arial, sans-serif;
    text-align:center;
    margin:0;
}

.container{
    margin-top:120px;
}

h1{
    color:#3b82f6;
}

input{
    width:350px;
    padding:12px;
    border:none;
    border-radius:8px;
}

button{
    padding:12px 20px;
    background:#3b82f6;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}
.answer{
    background:#1e293b;
    padding:20px;
    margin-top:30px;
    border-radius:15px;
    width:60%;
    margin-left:auto;
    margin-right:auto;
}